
/* ------------------------- BODY -------------------------  */
* {margin: 0; padding: 0;text-rendering: optimizeLegibility;} 
body {
    border-top: 10px solid #5BA8AC;}
html, body{
    background-color:#ffffff;
    background-position: center top;
    background-repeat:no-repeat;
    background-attachment:fixed;      
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;} 
body, html, table, textarea {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; -khtml-user-select: none; 
    -moz-user-select: none; -ms-user-select: none; 
    -o-user-select: none; user-select: none;  
    z-index:1337; color: #18121e;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing:antialiased;
    font-weight:100;
    font-family: 'David Libre', serif; 
    word-wrap: break-word; text-align: justify; 
    font-smooth: always; line-height: 1.8em;   
    word-spacing:2px; font-size: 15px;}
/* ------------------------- HYPERLINKS -------------------------  */
a:link, a:active, a:visited  {
    color: #444; 
    text-decoration: none;
    -webkit-transition: 0.2s ease-in; 
    -moz-transition: 0.2s ease-in; 
    transition: 0.2s ease-in;}
a:hover {
    color: #fcbb94;
    -webkit-transition: 0.2s ease-out; 
    -moz-transition: 0.2s ease-out; 
    transition: 0.2s ease-out;}
a:focus, a:active, a:hover, a img, .mfp-arrow:active,
.mfp-arrow:hover, .mfp-arrow:focus, .mfp-close, 
.mfp-close:focus, .mfp-close:active, 
.bx-wrapper .bx-pager.bx-default-pager a:hover { 
    border:0;
    outline: 0!important; 
    outline: none !important;
    outline-offset: -2px;}
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover  {
    background: #ff99b0!important; 
    text-decoration: none;
    -webkit-transition: 0.2s ease-in; 
    -moz-transition: 0.2s ease-in; 
    transition: 0.2s ease-in;}
img, img a, img:focus, img:hover, a img{
    border:none!important;}
.mfp-figure:after { 
    background:transparent!important;}
/* ------------------------- FONTS -------------------------  */
body, html, table, textarea,  #menubar a,  #page_pagination,  #menubar a{
    font-family: 'David Libre', serif !important;}
h1, h2, h3, h4, h5, h6, .title, .title a, .title2, {
    font-family: 'Khula', sans-serif !important;} 
#bltitle {
    width:100%;
    padding:15px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,1);
    border-bottom:1px solid #eee !important;
    color: #5BA8AC !important;
    font-family: 'Poiret One', cursive;
    margin: 0 auto 20px auto;
    text-align:left;
    font-size:45px;
    font-weight:100;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-shadow: 2px 2px 0px rgba(238, 235, 228, .3); 
    filter: dropshadow(color=rgba(238, 235, 228, .3), offx=2, offy=2);} 
.fontspacing {margin-left:15px;}
#bltitle, #bltitle a, #bltitle a:hover {
    color: #5BA8AC;}
/* ------------------------- BODY CRAFT -------------------------  */   
#template {
    height: 100%;
    clear: both;
    overflow: hidden;
    padding: 20px 10px 0 10px;
    width: 750px;
    margin:0 auto 20px auto!important;}
.topbar {
    margin-left:13px;
    margin-bottom:30px;}
.moto, .moto a, .moto a:hover{
    color: #5BA8AC;
    text-transform:uppercase;
    font-family:'Lato';
    font-size:30px!important;}
.bloglinks {
    color:#444!important;
    font-size:10px!important}
.bloglinks a {
    text-transform:uppercase;
    font-size:10px!important;
    color:#444!important;}
.bloglinks a:hover {
    text-transform:uppercase;
    font-size:10px!important;
    color:#fcbb94!important;}
#blog-content {
    width:700px;
    padding:10px;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    margin:0 auto 30px auto;}
#blog-content h1 {
    line-height:30px;
    font-size:25px;
    text-transform:uppercase;
    font-family: 'Lato', sans-serif !important;
    text-align:left;}
.post-content {
    margin: 0 auto 10px auto;
    padding:0 0 0 0;
    background: {color:Posts};}
.post-content h1 {
    line-height:25px;
    font-size:20px;
    text-transform:uppercase;
    font-family: 'Lato', sans-serif !important;
    text-align:left;}
.post-content h2 {
    line-height:23px;
    font-size:18px;
    text-transform:uppercase;
    font-family: 'Lato', sans-serif !important;
    text-align:left;}
.post-content h3 {
    line-height:29px;
    font-size:15px;
    text-transform:uppercase;
    font-family: 'Lato', sans-serif !important;
    text-align:left;}
.post-content p {
    line-height: 1.7em;
    margin-top:1em;}
.post-content p:first-child, p:first-of-type {
    margin-top:0em!important;}
.post-content p:last-child, p:last-of-type {
    margin-bottom:0!important;}
.post-content p br {
    content:" ";
    line-height:1.3em!immportant;
    display: block;}
.post-content > .poetry br {
    content:" ";
    display: block;}
.post-content p a {
    padding:0 0 3px 0;
    border-bottom:2px solid #fcbb94;
    color:#fcbb94;}
.post-date {
    font-size:9px;
    text-align:center;
    text-transform:uppercase;
    margin-left:-10px;
    margin-bottom:-10px;
    width:720px;
    padding:5px 0 0 0;
    background-color:#fcfcfc;
    border-top: 1px solid #eee;
    font-family: 'Lato', sans-serif !important;}
body, html, .body, document, function {cursor: default;}
a,a:link,a:visited,a:active,a:hover, .selectinput input {cursor: pointer;}
::selection {color:#FFF; background:#fcbb94;}
::-moz-selection {color:#FFF; background:#fcbb94;}
.posts p {
    line-height: 1.7em;
    margin-top:1em;}
.posts p:first-child, p:first-of-type {
    margin-top:0em!important;}
.posts p:last-child, p:last-of-type {
    margin-bottom:0!important;}
.posts p br {
    content:" ";
    line-height:1.3em!immportant;
    display: block;}
.posts > .poetry br {
    content:" ";
    display: block;}
hr {
    width: 50%;
    height: 0.04em;
    border-radius: 100%;
    margin: 1.7em auto;
    background: #444;
    background: -webkit-gradient(
    linear, left top, right bottom,
    from(transparent), 
    color-stop(.5, #444), 
    to(transparent));
    background: -moz-linear-gradient(
    0deg, transparent,
    #444, transparent);}
small {font-size: 80%;}
b, strong  {font-weight: bold;}
i, em, italic {font-style: italic;}    
ol {list-style: decimal;}
ul {list-style: disc;}
li {line-height: 22px;} 
