<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie10 lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
  
    <head>
      {% include head.html %}
    </head>
    <body>
      {% include header.html %}
      <div id="blog-content">
          {{ content }}
      </div>
      {% include footer.html %}
      <script defer src="//code.getmdl.io/1.2.1/material.min.js"></script>
    </body>
  </html>
